{% extends 'base.html' %}

{% block content %}
<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver1">
					<div class="table100-firstcol">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100 column1">Abbreviation</th>
								</tr>
							</thead>
							<tbody>

                {% for cryptocurrency in cryptocurrencies %}
								<tr class="row100 body">
                  <td class="cell100 column1">{{ cryptocurrency.abbreviation }}</td>
								</tr>
                {% endfor %}

							</tbody>
						</table>
					</div>

					<div class="wrap-table100-nextcols js-pscroll">
						<div class="table100-nextcols">
							<table>
								<thead>
									<tr class="row100 head">
										<th class="cell100 column2">Name</th>
                    <th class="cell100 column3">Price</th>
                    <th class="cell100 column4">Change</th>
									</tr>
								</thead>
								<tbody>

                  {% for cryptocurrency in cryptocurrencies %}
									<tr class="row100 body">
                    <td class="cell100 column2">{{ cryptocurrency.name }}</td>
                    <td class="cell100 column3">{{ cryptocurrency.price }}</td>
                    <td class="cell100 column4">{{ cryptocurrency.change }}</td>
                  </tr>
                  {% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
